.main-text {
  text-align: center;
  margin: 3rem auto;
  font-size: 20px;
  font-weight: bold;
  color: #3e9eda;
}
.ant-form {
  text-align: center;
}
.signup-form {
  //   height: 50vh;
  //   width: 30vw;

  .ant-btn-primary {
    background-color: #3e9eda;
    height: 3.5em;
  }
  .signup-form-button {
    width: 100%;
  }
}
