@media only all and(max-width: 900px) {
  .left-item {
    display: none !important;
  }

  .item {
    width: 100% !important;
  }
  .signup-top-wrap {
    padding-bottom: 1rem !important;
  }
}
.container {
  display: flex;
  justify-content: center;
  //   align-items: center;
  width: 100vw;
}

.left-item {
  opacity: 0.7;
}
.item {
  display: block;
  width: 50%;
}

.right-item {
  text-align: left;
  padding-left: 2rem;
  width: 80%;
  .signup-top-wrap {
    display: flex;
    padding-bottom: 5rem;
    font-size: 20px;
    font-weight: bold;
    color: #3e9eda;
    .icon {
      padding-right: 1rem;
    }
    .signup-form {
      width: 50%;
      .signup-btn {
        margin-top: 3rem !important;
      }
    }
  }
}
