.Nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "res-header res-btn res-btn";
  width: 90%;
  max-width: 100%;
  margin: 10px auto;

  .contents {
    grid-area: contents;
  }
}
